<div style="text-align:center">
    <h1>{{ LoginHas }}</h1>
    <input [(ngModel)]="usuario.nome" type="text" name="IDLogin" size="40" value="Informe seu E-mail" /><br/>
    <input [(ngModel)]="usuario.senha" type="text" name="PassLogin" size="40" value="Informe sua senha" /><br/>
    <button (click)="doLogin()" type="submit" name="BtLogin" class="Button"><h1 class="ButtonText">Login</h1></button><br/>
    <button type="submit" id="BtCadastro" class="Button" routerLink='/cadastro'><h1 class="ButtonText">Quero me cadastrar</h1></button>
</div>