 <script src="https://apis.google.com/js/platform.js" async defer></script>
 <meta name="google-signin-client_id" content="1010127269430-b2gpt67fhgehvf2q78mlfdhg3sup85u3.apps.googleusercontent.com">
  
  <div style="text-align:center">
  <h1>{{ welcome }}</h1>

  <div class="HomeScreen">

     <img src="ULamps.png" width="25%" />
            <h3> ULamps a sua ferramenta de brainstorming Online </h3>
            <a [routerLink]="[ '/loginPageTenho']"><button type="submit" id="BtTenho" class="Button"><h1 class="ButtonText">Faca seu login</h1></button></a><br/>
            <button type="submit" id="BtCadastro" class="Button" routerLink='/cadastro' ><h1 class="ButtonText">Faca seu cadastro</h1></button>

   </div>


</div>
