<div class="cardLarge">
    <div class="headerLarge">
      <h1>Ideias para projeto secreto</h1>
    </div>
    <div class="containerLarge">
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
    </div>
  </div>