<form style="text-align:center">

<h1>{{title}}</h1>

  <br>
  <label for="txtName">Nome:</label>
  <input type="text" placeholder="Digite o nome do seu usuário" name="Name" size= '60'value="">
  <br>
  <br>
  <label for= "txtEmail">E-mail:</label>
  <input type="email" placeholder="Digite o seu email" name="E-Mail"size= '60' value="">
  <br>
  <br>
  <label for="txtSenha">Senha:</label>
  <input type= "password" placeholder="Digite sua senha" name="psswd" size= '60'value="">
  <br>
  <br>


  <button type="submit" name="BtnSingup" class="Button"><h1 class="ButtonText"> Faça seu cadastro </h1></button>

</form>
