.Rectangle-41 {
  width: 3840px;
  height: 2160px;
  background-color: #fffbe6;
  color: #ffffff;
  
}
.Rectangle {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #5d1049;
    color: #ffffff;
}
.Rectangle-22 {
  width: 408px;
  height: 23px;
  position:relative;
  top: 1px;
  left: 800px;
  background-color: #720d5d;
  color: #ffffff;
  text-align: center;
}
  .Ellipse {
    border-radius:100%;
    width: 62px;
    height: 62px;
    position: absolute;
    top: 5px;
    left: 1250px;
    background-color: #720d5d;
  }
