.menulat {
    /* MenuLateral */

position: absolute;
width: 261px;
height: 881px;
left: 0px;
top: 143px;

background: #C4C4C4;
}

.ListBrains {
    position: absolute;
    width: 229px;   
    height: 750px;
    left: 15px;
    top: 259px;

    background: #5D1049;
    border-radius: 10px;
}

.Button {
    position: absolute;
    width: 230px;
    height: 76px;
    left: 14px;
    top: 155px;

    background: #5D1049;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;    
}

.ButtonText {
    /* NOVO BRAINSTORMING */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: rgb(255, 255, 255);
}