<div class="telaNovaSala">
    <form [formGroup]="formu" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label>Descricao da sala</label>
            <input formControlName="Descricao" class="form-control" >
        </div>
        <div class="form-group">
            <label>Resumo da sala</label>
            <input formControlName="Id" class="form-control" >
        </div>
    </form>
    <button (click)="salva()">Salvar</button>
  </div>
  <app-cabecalho></app-cabecalho>
  <app-menu-lateral></app-menu-lateral>
  <app-light-rating></app-light-rating>