.menulat {
    /* CAIXA.MENU LATERAL */

position: absolute;
width: 261px;
height: 750px;
left: 0px;
top: 82px;

background: #720D5D;
}

.ListBrains {
    /* CAIXA.lista com branstorming */

    position: absolute;
    width: 229px;   
    height: 350px;
    left: 15px;
    top: 255px;

    background: #5D1049;
    border-radius: 10px;
}

.Button {
    /* BOTÃO.NOVO BRANSTORMING */

    position: absolute;
    width: 230px;
    height: 76px;
    left: 14px;
    top: 155px;

    background: #5D1049;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;    
}

.ButtonText {
    /* TEXT DO BOTÃO.NOVO BRAINSTORMING */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: rgb(255, 255, 255);
}