

input {
  width:70%;       /*tamannho da barra de texto na tela*/
  padding:12px 20px;
  margin: 8px 10px;
  box-sizing:border-box;
  border:none;
  border-bottom:1.3px solid black;
  height: 48px;
  background: none;
  border-radius: 0;
  color: black;
}
input:hover{
  background: #ffffff;
}
input:not(:placeholder-shown){
    color: black;
}input:focus{
  background: none;
  outline: none;
    color: black;
}


form{
padding:40px 20px;
margin: 30px 350px;
border:none;
width: 40%;
align-self: center;
box-align: center;
border-style: outset;
}

