<div style="text-align:center">
  <h1>{{ welcome }}</h1>
  <div class="card">
    <div class="header">
      <h1>1</h1>
    </div>
    <div class="container">
      <p>Ideias para projeto secreto - Março 1, 2018</p>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <h1>2</h1>
    </div>
    <div class="container">
      <p>Nome do meu cachorrinho novo - Dezembro 1, 2018</p>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <h1>3</h1>
    </div>
    <div class="container">
      <p>Como melhor meus projetos pessoais - Abril 1, 2016</p>
    </div>
  </div>
</div>
