<h1>{{title}}</h1>

  <br>
  <label for="txtName">Nome:</label>
  <br>
  <input type="text" placeholder="&nbsp;" name="Name" size= '60'value="">
  <br>
  <br>
  <label for= "txtEmail">E-mail:</label>
  <br>
  <input type="email" placeholder="&nbsp;" name="E-Mail"size= '60' value="">
  <br>
  <br>
  <label for="txtSenha">Senha:</label>
  <br>
  <input type= "password" placeholder="&nbsp;" name="psswd" size= '60'value="">
  <br>
  <br>


  <button type="submit" name="BtnSingup" m-button vertical_align_center class="Button"><h1 class="ButtonText"> Faça seu cadastro </h1></button>


