<h1>{{title}}</h1>
<router-outlet></router-outlet>
<app-singup></app-singup>

<h1>{{title}}</h1>


  Nome: <input type="text" name="Name" value="">
  <br>
  E-Mail: <input type="email" name="E-Mail" value="">
  <br>
  Senha: <input type= "password" name="psswd" value="">
  <br>
  <br>

<button type="submit" name="BtnSingup" m-button vertical_align_center class="Button"><h1 class="ButtonText"> Singup</h1></button>
<button type="submit" name="BtCancel" m-button vertical_align_center class="Button"><h1 class="ButtonText">Cancelar</h1></button>

