<h1>{{title}}</h1>


<h1>{{title}}</h1>

<button type="submit" disabled name="Btncadastrar" m-button vertical_align_center class="Button"><h1 class="ButtonText"> Quero me cadastrar </h1></button>

  <label for="txtName">Nome:</label>
  <br>
  <input type="text" name="Name" value="">
  <br>
  <br>
  <label for= "txtEmail">E-mail:</label>
  <br>
  <input type="email" name="E-Mail" value="">
  <br>
  <br>
  <label for="txtSenha">Senha:</label>
  <br>
  <input type= "password" name="psswd" value="">
  <br>
  <br>

  <button type="submit" name="BtnSingup" m-button vertical_align_center class="Button"><h1 class="ButtonText"> Singup</h1></button>


