<div class="telainicial" style="text-align:center">
  <h1>{{ welcome }}</h1>
  <div class="card">
    <div class="header">
      <p>Como ser melhor que a Anitta</p>
    </div>
    <div class="container" routerLink='branDone'>
        <button type="submit" hidden="true" class="Button" routerLink='/inicio/branDone'></button>
        <!--<p *ngFor="let Salas of Salas">{{Salas.Descricao}}</p>-->
        <p>Ai papai, ela ta com 33m de seguidores e eu so tenho 7m, me ajuda lovers</p>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <p>Passar em tudo sem cometer suicídio social</p>
    </div>
    <div class="container">
      <p>Minha meta é passar em todas este semestre e continuar vivendo</p>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <p>Como destruir a vida das inimigas</p>
    </div>
    <div class="container">
      <p>Quero ideias para acabar com a vida das inimigas de vez</p>
    </div>
  </div>
</div>
<app-cabecalho></app-cabecalho>
<app-menu-lateral></app-menu-lateral>
