.Button {
    width: 190px;
    height: 40px;
    background-color: #5d1049;
    margin: center;
    border-radius: 20px;
}
.ButtonText {
    margin: center;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
div.card {
    margin-left: 200px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: right;
    margin: 1%;
  }
  
  div.header {
      background-color:#5d1049;
      color: white;
      padding: 10px;
      font-size: 40px;
  }
  
  div.container {
      padding: 10px;
    }

    div.cardLarge {
        margin-top: 55px;
        margin-right: 80px;
        width: 950px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        float: right;
      }
      div.headerLarge {
        margin-top: 70px;
        background-color:#5d1049;
        color: white;
        padding: 10px;
        font-size: 20px;
    }
    
    div.containerLarge {
        padding: 100px;
}